@mixin ff-tg-cn18 {
  font-family: $tg-cn18;
  font-style: normal;
  font-weight: normal;
}
@mixin ff-tg-cn18-obl {
  font-family: $tg-cn18-obl;
  font-style: normal;
  font-weight: normal;
}
@mixin ff-tg-cn20 {
  font-family: $tg-cn20;
  font-style: normal;
  font-weight: normal;
}