// TYPOGRAPHY START
@font-face {
  font-display: fallback;
  font-family: 'tg-cn18';
  src: url(../fonts/tg-cn18.otf);
}
@font-face {
  font-display: fallback;
  font-family: 'tg-cn18-obl';
  src: url(../fonts/tg-cn18-oblique.ttf);
}
@font-face {
  font-display: fallback;
  font-family: 'tg-cn20';
  src: url(../fonts/tg-cn20.otf);
}
// TYPOGRAPHY START