// COLORS START
$white: #ffffff;
$black: #ffffff;
$grey-500: #848484;
$grey-400: #f1f2f4;
$blue-500: #246fa9;
$green-500: #0ed5ae;
$green-400: #9aeedd;
$red-500: #ef3d3d;
// COLORS END;

// TYPOGRAPHY START
$tg-cn18: 'tg-cn18';
$tg-cn-18-obl: 'tg-cn18-olb';
$tg-cn20: 'tg-cn20';
// TYPOGRAPHY END